<div class="my-3">
    <h1> Digite as informações do produto que deseja cadastrar </h1>
</div>


<form>
    <div class="mb-3 my-3">
        
        <div class="input-group">
            <span class="input-group-text">Codigo De Barras</span>
            <input type="number" class="form-control" id="codigoBarras" placeholder="Digite o codigo de barras">
        </div>
    </div>
    <div class="mb-3">
         <div class="input-group">
             <span class="input-group-text">Nome</span>
             <input type="name" class="form-control" id="nome" placeholder="Digite o nome do produto">
       </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text"> Preço</span>
        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Digite o valor do produto">
        </div>
      </div>

    <button type="submit" class="btn btn-primary" >Cadastrar</button>
  </form>
  
